{% block head %}
    <script type="text/javascript" src="{{asset("bundles/plugin/bower_components/jquery/dist/jquery.min.js")}}"></script>
    <link rel="stylesheet" href="{{asset("bundles/plugin/bower_components/bootstrap/dist/css/bootstrap.min.css")}}"/>
{% endblock %}


{% block pageContent %}
    <div class="trully">Welcome on the board</div>
    <div class="change">Welcome on the board .. </div>
    <div class="bigger">Welcome on the board ..!!!! </div>
{% endblock %}



{% block javascript %}
    <script type="text/javascript" src="{{asset("bundles/plugin/js/myplugin.js")}}"></script>
{% endblock %}